#main-content
{
	text-align:left;
	font-family: "helvetica neue", arial, "Noto Sans";
	font-size: 17px;
	line-height:1.5;
}
.body-content
{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 15px #aaaaaa;
    color: #000000;
    height: auto;
	overflow: hidden;	
}

.body-cont-inner
{
	position:relative;
	margin-left:10px;
}

a.menu-item
{
	color: #222;
	font-size: 17px;
	font-family: "Noto Sans";
	margin-left: 5px;
	margin-right: 5px;
}
a.menu-item:hover,a.menu-item:active
{
	color: #FF9933;
	font-size: 17px;
	font-family: "Noto Sans";
}

